<div
  class="min-h-screen bg-[#f2f2f2] flex flex-col justify-center items-center"
>
  <h1 class="flex justify-center font-bold lg:text-[38px] sm:text-[20px] mt-10">
    <span class="text-amber-400">Espace Formation</span> -
    <span class="text-green-500">Process Coach</span>
  </h1>
  <h2 class="flex justify-center lg:text-[24px]">
    Rejoignez nous dès maintenant !
  </h2>

  <div class="m-5">
    <!-- component form here -->
    <app-form [formGroup]="form" [formType]="formType"></app-form>
    <!-- <app-button [do]="action"></app-button> -->
    <!-- inscription button  -->
    <div class="flex justify-center">
      <button [disabled]="!form.valid" (click)="register()" class="btn w-4/5 bg-green-500 hover:bg-green-900 mt-5 text-white">
        Valider mon inscription
      </button>
    </div>
  </div>

  <!-- si l'utilisateur a deja un compte | bloc d'information  -->
  <div class="flex justify-center">
    <div class="flex flex-col text-center gap-5">
      <p>
        En créant un compte, vous acceptez les conditions générales
        d'utilisations.
      </p>
      <p>
        Vous avez déjà un compte ?<br />
        <a routerLink="/login"> Connectez-vous</a>
      </p>
    </div>
  </div>
</div>
