<div
  class="header navbar bg-[#FCFCFD] h-25 items-center border-b border-emerald-300 flex-wrap sm:flex-nowrap w-full overflow-hidden"
>
  <div class="flex-1">
    <a
      [routerLink]="isLogginIn ? '/dashboard' : '/home'"
      class="btn btn-ghost text-2xl sm:text-4xl"
      >PROCESS COACH</a
    >
  </div>
  <div class="flex-none">
    <div class="dropdown sm:hidden">
      <label tabindex="0" class="btn btn-ghost">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li>
          <a routerLink="/about">La plateforme</a>
        </li>
        <li>
          <a routerLink="/products">Nos Formations</a>
        </li>
        @if (auth.authState$ | async) {
        <li>
          <a routerLink="/signup">S'inscrire</a>
        </li>
        <li>
          <a routerLink="login">
            <button class="btn btn-outline btn-success">Se Connecter</button>
          </a>
        </li>
        }
      </ul>
    </div>

    @if (auth.authState$ | async) {
    <ul
      class="hidden sm:flex gap-5 menu menu-horizontal px-1 h-full w-full items-center text-xl text-[#00A778]"
    >
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLink="/faq">J'ai une question</a>
      </li>
      <li>
        <a routerLink="/user/profile">Mon profil</a>
      </li>
      <li>
        <a routerLink="/" (click)="logout($event)">Déconnexion</a>
      </li>
    </ul>
    } @else {
    <ul
      class="hidden sm:flex gap-5 menu menu-horizontal px-1 h-full w-full items-center text-xl text-[#00A778]"
    >
      <li>
        <a routerLink="/about">La plateforme</a>
      </li>
      <li>
        <a routerLink="/products">Nos Formations</a>
      </li>
      <li>
        <a routerLink="/signup">S'inscrire</a>
      </li>
      <div>
        <a routerLink="login">
          <button class="btn btn-outline btn-success">Se Connecter</button>
        </a>
      </div>
    </ul>
    }
  </div>
</div>
