
<!-- Start of Section "FEATURES PROCESSCOACH" -->
<!-- CAN CREATE A COMPONENT HERE  -->
<section>
    <h2 class="text-4xl font-semibold text-center pt-8">
      Se Former, Se Développer, Process Coach.
    </h2>
    <div class="flex justify-around mb-[3%]">
      <!-- {/* engagement 1 */} -->
      <div class="flex flex-col justify-center align-center w-1/4">
        <div class="flex justify-center">
          <img
            class="max-w-full h-auto"
            [src]="badgeCertification"
            alt="label-certification"
          />
        </div>
        <div class="flex justify-center">
          <p class="text-center">
            Une formation pour l'éternité. De haute qualité jusque dans les
            moindres détails.
          </p>
        </div>
      </div>
      <!-- {/* engagement 2 */} -->
      <div class="flex flex-col justify-around align-center w-1/4 pt-4 gap-8">
        <div class="flex justify-center">
          <img
            class="max-w-full h-auto"
            [src]="badgeChecklist"
            alt="label-certification"
          />
        </div>
        <div class="flex justify-center">
          <p class="text-center">
            Des exercices, des conseils et un suivi personnalisé pour atteindre
            tes objectifs.
          </p>
        </div>
      </div>
      <!-- {/* engagement 3 */} -->
      <div class="flex flex-col justify-center align-center w-1/4">
        <div class="flex justify-center">
          <img
            class="max-w-full h-auto"
            [src]="badgePc"
            alt="label-certification"
          />
        </div>
        <div class="flex justify-center">
          <p class="text-center">
            Accéder à à la formation 100% en ligne à la maison, en ville, à la
            montagne ... N’importe ou ! N’importe quand !
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!--End of Features Section -->
  
  <!-- Start of SECTION "training process" -->
  <section
    class="flex justify-center bg-green-gradient h-96 flex flex-col items-center text-white text-xl font-bold gap-10"
  >
    <div class="flex flex-col align-items justify-center gap-20">
      <p class="text-4xl font-semibold">
        La plateforme Process Coach : L’apprentissage tout en 1
      </p>
      <div class="flex gap-12 justify-around">
        <!-- CAN CREATE COMPONENT HERE -->
        <div>
          <p class="text-xxl">1</p>
          <p>Préparation</p>
        </div>
        <div>
          <p class="text-2xl">2</p>
          <p>Formation</p>
        </div>
        <div>
          <p class="text-2xl">3</p>
          <p>Evaluations</p>
        </div>
        <div>
          <p class="text-2xl">4</p>
          <p>Suivi</p>
        </div>
      </div>
      <div class="w-[280px] flex justify-center m-auto">
        <!-- add button call to action here -->
        <app-button
          buttonText="J'accède maintenant à ma formation"
          class="button-blue-bg"
        ></app-button>
      </div>
    </div>
  </section>
  
  <!-- End of about training process coach section -->