<!-- Start of hero section -->
<div class="hero min-h-screen bg-base-200 ">
  <div class="hero-content flex-col lg:flex-row-reverse gap-20">
    <img
      [src]="welcomePage"
      alt="teleworking with students"
      class="max-w-[500px] rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold text-center">
        Accéder à la plateforme Process Training !
      </h1>
      <p class="py-6 text-center">
        Simple, flexible et 100% en ligne, Process Coach a développé Process
        Training ! <br />
        C’est votre outils de formation contenant tout ce qu’il vous faut pour
        votre apprentissage.
      </p>
      <div class="flex justify-center">
        <button routerLink="/login" class="btn btn-primary">
          Commencer ma formation
        </button>
      </div>
    </div>
  </div>
</div>
<!--End of hero section -->
