.button-blue-bg {
  background-color: #0000ff;
  color: #ffff00;
  border-radius: 10px;
  width: auto;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
}

.button-blue-bg:hover {
  background-color: #0000cc;
  color: #ffff00;
  text-decoration: none;
}
